
<!DOCTYPE html>
<html>
<head>
  <title>Formulario de Login</title>
  <link rel="stylesheet" type="text/css" href="login-page.component.css">
  <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body class="bg-[#111111]">
  
<div class="flex h-[calc(100vh-7rem)] items-center justify-center">
    <form method="post" (submit)="login()" class="flex flex-col gap-y-3 w-3/12">
        <h1 class="text-slate-100 font-bold text-4xl">Biblioteca de música</h1>
        <img src="../../assets/Logo.png" alt="Logo" width="200px">
        <h2 class="text-slate-100 font-bold text-2xl">Inicia Sesión</h2>
        <input [(ngModel)]="email" type="text" name="u" placeholder="Email" required class="px-3 py-3 rounded-md"/>
        <input [(ngModel)]="password" type="password" name="p" placeholder="Contraseña" required class="px-3 py-3 rounded-md" />
        <button (click)="login()" type="submit" class="btn btn-primary btn-block btn-large">Ingresar</button>
        <button (click)="newUserModal()" type="submit" class="btn btn-primary btn-block btn-large">Registrarse</button>

    </form>
  </div>
</body>
</html>