/* Tu CSS previo */

body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    background-color: #4a77d4;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3762bc;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .btn:hover {
    background-color: #4a77d4;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    background-color: #4a77d4;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3762bc;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .btn-primary:hover {
    background-color: #4a77d4;
  }
  