<section class="bg-gray-900 bg-opacity-90 text-white flex justify-center items-center h-full relative">
    <div class="text-right mx-5">
        <button (click)="onClose()" class="absolute top-0 right-0 m-4 text-white text-xl font-bold focus:outline-none">&times;</button>
    </div>

    <div class="p-6 space-y-4">
        <h1 class="text-3xl font-bold">{{ new ? 'Nueva Canción' : 'Actualiza Canción' }}</h1>

        <div class="flex flex-col space-y-4 md:space-y-6">
            <input class="bg-gray-800 text-white py-2 px-4 rounded-md focus:outline-none" [(ngModel)]="titulo" placeholder="Titulo Canción">
            <input class="bg-gray-800 text-white py-2 px-4 rounded-md focus:outline-none" [(ngModel)]="artista" placeholder="Artista, Feature">
            <input class="bg-gray-800 text-white py-2 px-4 rounded-md focus:outline-none" [(ngModel)]="album" placeholder="Titulo de album">
            <input class="bg-gray-800 text-white py-2 px-4 rounded-md focus:outline-none" [(ngModel)]="genero" placeholder="Genero">
            <input class="bg-gray-800 text-white py-2 px-4 rounded-md focus:outline-none" [(ngModel)]="duracion" placeholder="HH:MM:SS">
            <input class="bg-gray-800 text-white py-2 px-4 rounded-md focus:outline-none" [(ngModel)]="anho" placeholder="YYYY">
            <input class="bg-gray-800 text-white py-2 px-4 rounded-md focus:outline-none" [(ngModel)]="url" placeholder="URL">

            <div *ngIf="areFieldsEmpty()">
                <p class="text-red-500">Por favor completa todos los campos.</p>
            </div>

            @if(new){
                <ng-container *ngIf="!areFieldsEmpty(); else disableUpdate">
                    <button (click)="createSong()"  class="bg-blue-500 hover:bg-blue-700 text-black py-2 px-4 rounded-full shadow-md focus:outline-none focus:ring focus:border-blue-700 transition duration-300 ease-in-out">Agregar</button>
                </ng-container>
                <ng-template #disableUpdate>
                    <button class="bg-blue-300 text-gray-500 py-2 px-4 rounded-full shadow-md cursor-not-allowed opacity-50" disabled>Agregar</button>
                </ng-template>
            }@else{
                <ng-container *ngIf="!areFieldsEmpty(); else disableUpdate">
                    <button (click)="updateSong()"  class="bg-blue-500 hover:bg-blue-700 text-black py-2 px-4 rounded-full shadow-md focus:outline-none focus:ring focus:border-blue-700 transition duration-300 ease-in-out">Actualizar</button>
                </ng-container>
                <ng-template #disableUpdate>
                    <button class="bg-blue-300 text-gray-500 py-2 px-4 rounded-full shadow-md cursor-not-allowed opacity-50" disabled>Actualizar</button>
                </ng-template>
            }
        </div>
    </div>
</section>